/* lage themes med variabler på alle farger */
:root {
--light-color1: rgb(194, 240, 194);
--light-color2: rgb(202, 221, 218);
--light-color3: rgb(204, 236, 204);
--light-color4: rgb(174, 187, 185);
--light-color5: rgb(236, 214, 211);
--dark-color1: rgb(51, 53, 48);
--dark-color2: rgb(59, 52, 63);
--dark-color3: rgb(47, 57, 85);
--dark-color4: rgb(24, 71, 63);
--dark-color5: rgb(58, 52, 34);
--fill-seethru-color1: rgba(107, 17, 17, 0.5);
--fill-seethru-color2: rgba(19, 51, 197, 0.5);
--fill-seethru-color3: rgba(42, 156, 132, 0.5);
--fill-seethru-color4: rgba(151, 160, 20, 0.5);
}

/*
import colors/themes.css? form.css
*/

body {
    background-image: url('bemanning_bckgr_sommerduk.png');
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--light-color5);
}

.header_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 50px;
    color: var(--light-color5);
    background-color: var(--fill-seethru-color2);
}

.nav_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 50px;
    background-color: var(--fill-seethru-color4);
}

ul {
    border: solid 1px red;
    display: inline-block;
    margin-top: 20px;
    list-style: none;
}

li {
    list-style: none;
}

.themediv {
    border: solid 1px red;
    text-align: center;
}

.themeradiolabel {
    border: solid 1px red;
    display: block;
    width: 90%;
    background-color: var(--dark-color3);
}

.themeradiolabel:checked {
    background-color: var(--dark-color1);
}

.themeradiolabel:hover {
    color: var(--light-color2);
}

.radioinput {
    visibility: hidden;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.labeldiv {
    display: inline-block;
    border-radius: 50px;
    border: solid var(--fill-seethru-color2) 2px;
    background-color: var(--fill-seethru-color2);
    color: var(--light-color3);
    font-size: 18px;
    margin: 9px;
}

.checkbox-label {
    margin-right: 11px;
    margin-left: 11px;
}

.sectionhead {
    display: inline-block;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--dark-color2);
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
}

.sectionheadlabel {
    margin: 20px;
}

/* erstatte standard boxer med custom stil
span {
    checkbox;
}
*/

form {
    text-align: center;
    border-radius: 70px;
    background-color: var(--fill-seethru-color1);
    color: var(--light-color4);
}

.text-inputs {
    width: 90%;
    height: 30px;
}

input, textarea {
    text-align: center;
    margin: 10px;
    border: var(--fill-seethru-color3) 2px solid;
    border-radius: 50px;
    background-color: var(--fill-seethru-color3);
    color: var(--light-color3);
    font-size: 18px;
}

input:focus, textarea:focus {
    background-color: var(--dark-color3);
}

textarea {
    width: 90%;
    height: 140px;
}

.labeldiv:hover, input:hover {
    border: var(--light-color1) solid 2px;
}

/* virker ikke */
input:checkbox:checked > .labeldiv {
    background-color: var(--dark1-color5);
}

button {
    box-sizing: border-box;
    margin: 10px;
    border-radius: 130px;
    width: 90%;
    height: 80px;
    padding: 5px;
    background-color: var(--dark-color4);
    color: var(--light-color2);
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
}

footer {
    padding: 0px;
    height: 80px;
    background-color: var(--dark-color4);
    color: var(--light-color4);
    text-align: right;
    font-size: 20px;
}

details {
    display: inline clear;
    align-self: flex-end;
    width: 70px;
}

footer:hover {
    background-color: var(--dark-color5);
}

@media screen and (max-width: 600px) {
    
    .main_container {
        display: grid;
        grid-template-columns: 1fr 7fr 1fr;

    }
}
